
@font-face {
    font-family: "Opensans";
    src: url("fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf");
}


@font-face {
    font-family: "Poppins";
    src: url("fonts/Poppins/Poppins-Bold.ttf");
}



* {
    margin: 0px;
    padding: 0px;
}


a {
    text-decoration: none;
}

div {
    position: relative;
}


#topbar {
    display: flex;
    background-color: #333333;
    justify-content: space-between;
}


#topbar * {
    display: inline-flex;
    padding: 8px;
}


#left_items, #right_items {
    padding: 0px;
}


#left_items li p {
    color: #36c940;
}


#topbar img {
    width: 120px;
    text-align: center;
    display: relative;
    padding: 0px;
}


#topbar #first_link_box {
    font-family: "Opensans", "monospace";
    background-color: #222222;
}


.link_box {
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #444444;
}


#topbar a {
    color: #9B9B9B;
}


.icon_box {
	font-size: 24px;
    font-family: "FontAwesome";
    font-weight: 400;
}


main {
    font-family: "Poppins", "Monospace";
}


#background_box {
    background: url("images/bg_1.webp") center;
    background-size: cover;
    background-position: top center;
    height:70vh;
    padding: 100px;
    padding-top: 50px;
}


#bg-mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #222222;
    opacity: .4;
}


#content_bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
}


#content_bar #left_items li {
    font-size: 22px;
    font-weight: 800;
    color: white;
}


#content_bar #right_items li {
    font-size: 13px;
    font-weight: 500;
    padding-right: 25px;
    color: rgba(255, 255, 255, 0.7);
}


#content_bar li, #content_bar p, #content_bar div {
    display: inline;
}


#background_box #textbox {
    width: 400px;
}


#background_box #textbox p {
    font: 16px 500 ;
    color: rgba(255, 255, 255, 0.9);
    letter-spacing: 2px;
    margin-bottom: 10px;
    display: block;
}


#background_box #textbox h1 {
    font: 400 80px;
    color: white;
}


.button_active {
    background-color: #36c940;
}

.button {
    background-color: white;
}


#buttons  {

}